button.Button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  padding: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

button.Button.primary {
  background-color: #017eff;
}

button.Button.secondary {
  background-color: #ce1010;
}
