.TextEditor .CodeMirror, .TextEditor .ReactCodeMirror {
  font-family: 'Source Code Pro', monospace;
  height: 100%;
}

div.DraggableArea {
  background: #000;
  height: 2px;
}

.DraggableArea div.DraggableIcon {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-80%);
}

.resizing-container div {
  z-index: 1000;
}

/**
 * Customization of Michael Kaminsky's material theme for code mirror.
 */

.cm-s-material .CodeMirror-gutters {
  background: #60656E;
}

.cm-s-material .CodeMirror-linenumber {
  font-size: 0.8em;
  padding-top: 0.8em !important;
  color: #000 !important;
}

.cm-s-material .CodeMirror-line {
  padding-left: 0.6em !important;
  padding-top: 0.5em !important;
}

.cm-s-material .cm-property { color: #fff; }
.cm-s-material .cm-string { color: #0EC3D4; }
.cm-s-material .cm-number { color: #B07DDC; }


/**
 * Customization of Code Mirror simple scrolbar.
 */

 .CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  background: #60656E;
  -webkit-border-radius: 100px;
  border: 1px solid #60656E;
}

.CodeMirror-simplescroll-vertical {
  width: 9px;
  background: #263238;
}

.CodeMirror-simplescroll-horizontal {
  bottom: 0; left: 0;
  height: 9px;
  background: #263238;
}

div.CodeMirror-scrollbar-filler {
  display: none !important;
}
